.mainBox {
    display: grid;
    grid-template-rows: 1fr 30px 40px;
    grid-template-areas:
        'list'
        'time'
        'priority';
    margin: 10px auto;
    padding: 1px;
    max-width: 400px;
    min-height: 418px;
    background-color: darkslategray;
    border-radius: 10px;
}

.mainBox button {
    cursor: pointer;
    position: relative;
    margin: 0 auto 2% 0;
    padding: 1% 1%;
    width: 25%;
    font-size: 14pt;
    border-radius: 5px;
}

.mainBox button:focus {
    outline: none;
}

.buttonAll {
    background-color: aqua;
}

.buttonAll:hover {
    background-color: cornflowerblue;
}

.buttonHigh {
    background-color: red;
}

.buttonHigh:hover {
    background-color: orangered;
}

.buttonMid {
    background-color: yellow;
}

.buttonMid:hover {
    background-color: #ffff55;
}

.buttonLow {
    background-color: green;
}

.buttonLow:hover {
    background-color: limegreen;
}

.buttonsBlock {
    grid-area: priority;
    position: relative;
    margin: auto 2%;
}

.timemessage {
    grid-area: time;
    padding: 0 2% 0 2%;
    margin: auto 0;
}

.affairsBlock {
    grid-area: list;
}

.altAffair {
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-areas: 'a b';
    grid-area: a;
    margin: 2%;
    padding: 5px;
    border: 2px groove lightblue;
    border-radius: 5px;
    font-size: 14pt;
    font-weight: bold;
}

.aaa {
    background-color: red;
}

.aa {
    background-color: yellow;
}

.a{
    background-color: green;
}

.altAffair button {
    cursor: pointer;
    grid-area: b;
    width: 30px;
    height: 30px;
    padding: -1px 0 5px 0;
    font-weight: bold;
    font-size: 20pt;
    text-indent: -0.5pt;
    background-color: red;
    border-radius: 20px;
    border-width: 1px;
}